@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: hsl(0, 0%, 100%);
  --bg-transparent: hsla(0, 0%, 100%, 70%);
  --bg-accent: hsl(0, 0%, 90%);
  --transparent-accent: hsla(0, 0%, 90%, 70%);
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 20%);
  --tertiary-color: hsl(0, 0%, 45%);
  --bg-gradient: linear-gradient(135deg, hsl(0, 0%, 95%), hsl(0, 0%, 90%));
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(0, 0%, 0%);
    --bg-transparent: hsla(0, 0%, 0%, 70%);
    --bg-accent: hsl(0, 0%, 20%);
    --transparent-accent: hsla(0, 0%, 20%, 70%);
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 80%);
    --tertiary-color: hsl(0, 0%, 55%);
    --bg-gradient: linear-gradient(135deg, hsl(0, 0%, 20%), hsl(0, 0%, 15%));
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bg {
  background-color: var(--bg-color);
}

.bg-gradient {
  background: var(--bg-gradient);
}

.bg-crystal {
  background-color: var(--bg-transparent);
  backdrop-filter: saturate(180%) blur(33px);
  border-color: var(--transparent-accent);
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-tertiary {
  color: var(--tertiary-color);
}

.border-color {
  border-color: var(--bg-accent);
}

.body-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1%;
}

.body-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}